@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
.app{
    height: 100vh;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.edited {
    color: var(--teal-0);
    text-shadow: 0 0 10px var(--teal-5),0 0 25px var(--teal-7)
}
.no-edit{
    color: var(--teal-0);
    text-shadow: 0 0 10px var(--indigo-5),0 0 25px var(--teal-7)
}
th,td {
    border: 1px solid #fff;
    padding: 0 5px;
}
.main-title {
    text-align: center;
    position: fixed;
    opacity: 0.5;
    color: #000000bd;
    transform: rotate(0.25turn);
    top: 100px;
    animation: var(--animation-slide-in-up) forwards;
    transition: linear 2s;
}
.main-title:hover{
    font-size: 78px;
}
.section-wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    height: 100vh;
}
.first{
    border: 1px solid black;
}
.second {
    border: 1px solid #fff;
}
.table__titel{
    cursor: pointer;
}
/* Section 3 */
.three {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block{
    border: 1px solid #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    resize: both;
    overflow: scroll;
    min-width: 35px;
    min-height: fit-content;
}
.block__item{
    width: 50px;
    height: 50px;
    color: gainsboro;
    border: 1px solid rgba(255, 255, 255, 0.495);
    margin: 1px;
}
.block__item:nth-of-type(1){
    background-color: #f94144; 
}
.block__item:nth-of-type(2){
    background-color: #f3722c; 
}
.block__item:nth-of-type(3){
    background-color: #f8961e; 
}
.block__item:nth-of-type(4){
    background-color: #f9844a; 
}
.block__item:nth-of-type(5){
    background-color: #f9c74f; 
}
.block__item:nth-of-type(6){
    background-color: #90be6d; 
}
.block__item:nth-of-type(7){
    background-color: #43aa8b; 
}
.block__item:nth-of-type(8){
    background-color: #4d908e; 
}
.block__item:nth-of-type(9){
    background-color: #577590; 
}
.block__item:nth-of-type(10){
    background-color: #277da1; 
}
